body {
  margin: 0;
  padding: 0;
}

.header {
  position: relative;
  height: 64px;
  background: #E0F2FF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 145px;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  font-size: 24px;
  font-weight: 800;
  color: #000;
  text-decoration: none;
  z-index: 2;
}

.nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 32px;
}

.nav a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 24px;
  transition: opacity 0.2s;
}

.nav a:hover {
  opacity: 0.7;
}

/* Контейнер для іконок */
.icons {
  display: flex;
  gap: 20px;
  /* Відстань між картинками */
  align-items: center;
  z-index: 2;
}

/* Стилі для самих картинок 35х35 */
.header-icon-img {
  width: 35px;
  height: 35px;
  object-fit: contain;
  /* Щоб картинка не розтягувалася, а вписувалася в квадрат */
  cursor: pointer;
  transition: transform 0.2s ease;
}

.header-icon-img:hover {
  transform: scale(1.1);
  /* Легкий ефект при наведенні */
}